{% extends 'core/base.html'%}
{% load static %}
{% block css %}

<link href="{% static 'core/css/crud.css' %}" rel="stylesheet">
{% endblock css %}
{% block contenido %}
{% load crispy_forms_tags %}
    <div class="row">
        <div class="col">
            <form action="" method="POST">
                {% csrf_token %}
                <table>
                    {{ form | crispy }}
                </table>
                <input type="submit" class="btn btn-success" value="Actualizar">
                <input type="reset" class="btn btn-danger" value="Limpiar">

            </form>
            {{ mensaje }}
        </div>
    </div>


{% endblock %}

